/* Ray Css reset */
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
legend {
  color: #000;
}
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
}
html {
  overflow-y: scroll;
}
.slider {
  width: 332px;
  margin: 30px auto;
}
.slider .s-body {
  background: #ccc;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 208px;
}
.slider .s-body li {
  position: absolute;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slider .s-body li.active {
  display: block;
  left: 0;
}
.slider .s-body li.next {
  display: block;
  left: 100%;
}
.slider .s-body li.prev {
  display: block;
  left: -100%;
}
.slider .s-body li img {
  transition: 400ms;
}
.slider .s-body li:hover img {
  -webkit-transform: rotate(7deg) scale(1.2);
  -moz-transform: rotate(7deg) scale(1.2);
  -ms-transform: rotate(7deg) scale(1.2);
  -o-transform: rotate(7deg) scale(1.2);
  transform: rotate(7deg) scale(1.2);
}
.slider .s-body li em {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 30px;
}
.slider .s-body li em span {
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.75);
}
.slider .s-body li em a {
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 30px;
  padding: 0 15px;
  color: #fff;
}
.slider .s-nav {
  width: 100px;
  height: 8px;
  margin: 0 auto;
  padding: 8px 0;
}
.slider .s-nav span {
  display: block;
  float: left;
  overflow: hidden;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: #ccc;
}
.slider .s-nav span.active {
  background: #f50;
}
